<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>w300</string>
	<key>2</key>
	<string>w780</string>
	<key>3</key>
	<string>w1280</string>
	<key>0</key>
	<string>original</string>
</dict>
</plist>
