<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
			<key>FooterText</key>
			<string>Language update hint</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Current user</string>
			<key>Key</key>
			<string>account</string>
			<key>DefaultValue</key>
			<string>username</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Session token caching</string>
			<key>Key</key>
			<string>session_caching_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Language</string>
			<key>Key</key>
			<string>app_lang</string>
			<key>DefaultValue</key>
			<string>en</string>
			<key>Values</key>
			<array>
				<string>en</string>
				<string>ru</string>
			</array>
			<key>Titles</key>
			<array>
				<string>English</string>
				<string>Russian</string>
			</array>
			<key>New item</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
